<nav class="cyan lighten-2">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Green Pig</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="yellow-text" href="">Tacos!</a></li>
			<li><a href="">More Tacos!</a></li>
			<li><a href="">Most Tacos!</a></li>
		</ul>
	</div>
</nav>


<div class="row">
	<h4 class="col s12 m6 offest-m2">Hello World</h4>
</div>


<button class="btn">I am a button</button>
<button class="btn waves-effect">Wave effect</button>
<button class="btn-flat">Flat</button>
<button class="btn-floating">Floating</button>
<button class="btn-floating waves-effect red">All</button>

<div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
</div>